/*
 *Name: Sylvan Pollock
 *UnityID: 200522927
 *Date: 2/8/2024
 *Assignment: Guided Lab 4
 *Description: About me CSS
 */
 
p {
    font-family: Times;
	font-size: 16px;
	color: #FFFFFF;
}

.table-border {
    border: 1px solid #FFFFFF;
}

#photo-resize {
    max-width: 250px;
	max-height: 300px;
}
